In [1]:
#Import the important libraries
from time import time,sleep
from random import randint
from IPython.core.display import clear_output
from requests import get
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
import re 

from Scrapper import *

In [2]:
executable_path = {'executable_path': r"C:\Users\jdilligard\Desktop\chromedriver_win32\chromedriver.exe"}
#browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://www.carfax.com/Used-Jeep-Cherokee-Dallas-TX_w371_c18864'
#browser.visit(url)

In [4]:
#scraping webpage with beautiful soup
response = get(url, timeout = 5)
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
data = soup.find(id='listing_0').find('a')['href']
print(data)

/vehicle/1C4PJMDSXGW187284

In [6]:
links = []

In [7]:
for link in soup.findAll('a', attrs={'href': re.compile("/vehicle/")}):
    #print(link.get('href'))
    string = 'https://www.carfax.com' + link.get('href')
    links.append(string)
    print(string)

https://www.carfax.com/vehicle/1C4PJMDSXGW187284
https://www.carfax.com/vehicle/1C4PJMDSXGW187284
https://www.carfax.com/vehicle/1C4PJLDBXJD561566
https://www.carfax.com/vehicle/1C4PJLDBXJD561566
https://www.carfax.com/vehicle/1C4PJLCB0HD231897
https://www.carfax.com/vehicle/1C4PJLCB0HD231897
https://www.carfax.com/vehicle/1C4PJLDB0HW626701
https://www.carfax.com/vehicle/1C4PJLDB0HW626701
https://www.carfax.com/vehicle/1C4PJMLB9KD299693
https://www.carfax.com/vehicle/1C4PJMLB9KD299693
https://www.carfax.com/vehicle/1C4PJLCX2KD396689
https://www.carfax.com/vehicle/1C4PJLCX2KD396689
https://www.carfax.com/vehicle/1C4PJLDS0HW664123
https://www.carfax.com/vehicle/1C4PJLDS0HW664123
https://www.carfax.com/vehicle/1C4PJLCSXGW362208
https://www.carfax.com/vehicle/1C4PJLCSXGW362208
https://www.carfax.com/vehicle/1C4PJLCBXKD487648
https://www.carfax.com/vehicle/1C4PJLCBXKD487648
https://www.carfax.com/vehicle/1C4PJLLB9KD222378
https://www.carfax.com/vehicle/1C4PJLLB9KD222378
https://www.carfax.com/vehicle/1C4PJLCB3HW640769
https://www.carfax.com/vehicle/1C4PJLCB3HW640769
https://www.carfax.com/vehicle/1C4PJMCB8HW521427
https://www.carfax.com/vehicle/1C4PJMCB8HW521427
https://www.carfax.com/vehicle/1C4PJLCSXGW304454
https://www.carfax.com/vehicle/1C4PJLCSXGW304454
https://www.carfax.com/vehicle/1C4PJMDS8HW545404
https://www.carfax.com/vehicle/1C4PJMDS8HW545404
https://www.carfax.com/vehicle/1C4PJLDB5HW662965
https://www.carfax.com/vehicle/1C4PJLDB5HW662965
https://www.carfax.com/vehicle/1C4PJMJN8KD173841
https://www.carfax.com/vehicle/1C4PJMJN8KD173841
https://www.carfax.com/vehicle/1C4PJMDS6GW327959
https://www.carfax.com/vehicle/1C4PJMDS6GW327959
https://www.carfax.com/vehicle/1C4PJMCB3HD218289
https://www.carfax.com/vehicle/1C4PJMCB3HD218289
https://www.carfax.com/vehicle/1C4PJMDB4HW537767
https://www.carfax.com/vehicle/1C4PJMDB4HW537767
https://www.carfax.com/vehicle/1C4PJMDBXGW236810
https://www.carfax.com/vehicle/1C4PJMDBXGW236810
https://www.carfax.com/vehicle/1C4PJMCS9GW341467
https://www.carfax.com/vehicle/1C4PJMCS9GW341467
https://www.carfax.com/vehicle/1C4PJMCS2GW332965
https://www.carfax.com/vehicle/1C4PJMCS2GW332965
https://www.carfax.com/vehicle/1C4PJMCBXGW330414
https://www.carfax.com/vehicle/1C4PJMCBXGW330414
https://www.carfax.com/vehicle/1C4PJMCS4GW154380
https://www.carfax.com/vehicle/1C4PJMCS4GW154380
https://www.carfax.com/vehicle/1C4PJMCBXHW582469
https://www.carfax.com/vehicle/1C4PJMCBXHW582469

In [8]:
links = list(set(links))
print(links)

['https://www.carfax.com/vehicle/1C4PJMDSXGW187284', 'https://www.carfax.com/vehicle/1C4PJLCSXGW362208', 'https://www.carfax.com/vehicle/1C4PJLDB5HW662965', 'https://www.carfax.com/vehicle/1C4PJMCB3HD218289', 'https://www.carfax.com/vehicle/1C4PJMCB8HW521427', 'https://www.carfax.com/vehicle/1C4PJLCB3HW640769', 'https://www.carfax.com/vehicle/1C4PJMDBXGW236810', 'https://www.carfax.com/vehicle/1C4PJMCBXGW330414', 'https://www.carfax.com/vehicle/1C4PJLCBXKD487648', 'https://www.carfax.com/vehicle/1C4PJMJN8KD173841', 'https://www.carfax.com/vehicle/1C4PJMDS6GW327959', 'https://www.carfax.com/vehicle/1C4PJLLB9KD222378', 'https://www.carfax.com/vehicle/1C4PJMDS8HW545404', 'https://www.carfax.com/vehicle/1C4PJLCB0HD231897', 'https://www.carfax.com/vehicle/1C4PJMCBXHW582469', 'https://www.carfax.com/vehicle/1C4PJLDB0HW626701', 'https://www.carfax.com/vehicle/1C4PJMLB9KD299693', 'https://www.carfax.com/vehicle/1C4PJLCX2KD396689', 'https://www.carfax.com/vehicle/1C4PJLDS0HW664123', 'https://www.carfax.com/vehicle/1C4PJMCS2GW332965', 'https://www.carfax.com/vehicle/1C4PJMDB4HW537767', 'https://www.carfax.com/vehicle/1C4PJMCS9GW341467', 'https://www.carfax.com/vehicle/1C4PJMCS4GW154380', 'https://www.carfax.com/vehicle/1C4PJLCSXGW304454', 'https://www.carfax.com/vehicle/1C4PJLDBXJD561566']

In [9]:
clean_links = []
data2 = []
for link in links:
    link = link.replace('.com//','.com/')
    if(link not in clean_links):
        clean_links.append(link)
        print(link)
        data2.append(CarFaxVehicleScrapper(link))

https://www.carfax.com/vehicle/1C4PJMDSXGW187284
https://www.carfax.com/vehicle/1C4PJLCSXGW362208
https://www.carfax.com/vehicle/1C4PJLDB5HW662965
https://www.carfax.com/vehicle/1C4PJMCB3HD218289
https://www.carfax.com/vehicle/1C4PJMCB8HW521427
https://www.carfax.com/vehicle/1C4PJLCB3HW640769
https://www.carfax.com/vehicle/1C4PJMDBXGW236810
https://www.carfax.com/vehicle/1C4PJMCBXGW330414
https://www.carfax.com/vehicle/1C4PJLCBXKD487648
https://www.carfax.com/vehicle/1C4PJMJN8KD173841
https://www.carfax.com/vehicle/1C4PJMDS6GW327959
https://www.carfax.com/vehicle/1C4PJLLB9KD222378
https://www.carfax.com/vehicle/1C4PJMDS8HW545404
https://www.carfax.com/vehicle/1C4PJLCB0HD231897
https://www.carfax.com/vehicle/1C4PJMCBXHW582469
https://www.carfax.com/vehicle/1C4PJLDB0HW626701
https://www.carfax.com/vehicle/1C4PJMLB9KD299693
https://www.carfax.com/vehicle/1C4PJLCX2KD396689
https://www.carfax.com/vehicle/1C4PJLDS0HW664123
https://www.carfax.com/vehicle/1C4PJMCS2GW332965
https://www.carfax.com/vehicle/1C4PJMDB4HW537767
https://www.carfax.com/vehicle/1C4PJMCS9GW341467
https://www.carfax.com/vehicle/1C4PJMCS4GW154380
https://www.carfax.com/vehicle/1C4PJLCSXGW304454
https://www.carfax.com/vehicle/1C4PJLDBXJD561566

In [10]:
len(data2)

25

In [11]:
len(clean_links)

25

In [12]:
#dealer info

In [13]:
data2[0]

{'vin': '1C4PJMDSXGW187284',
 'year': '2016',
 'make': 'Jeep',
 'model': 'Cherokee',
 'trim': 'Limited',
 'price': '$18,250',
 'mileage': '42,081 miles',
 'location': 'Grapevine, TX',
 'ext_color': 'Black',
 'int_color': 'Tan',
 'drive_type': '4WD',
 'transmission': 'Automatic',
 'body_style': 'SUV',
 'engine': '6 Cyl 3.2 L',
 'fuel': 'Gasoline',
 'mpg': '19',
 'stock_num': 'GW187284',
 'dealer_info': {'vin': '1C4PJMDSXGW187284',
  'dealer_name': 'Grubbs Infiniti',
  'dealer_street': '1500 E State Highway 114',
  'dealer_city': 'Grapevine,',
  'dealer_state': 'TX',
  'dealer_zip': '76092',
  'dealer_phone': '(844) 928-1616',
  'stock_number': 'GW187284'}}

In [14]:
all_dealers = [x['dealer_info'] for x in data2]

In [15]:
all_dealers

[{'vin': '1C4PJMDSXGW187284',
  'dealer_name': 'Grubbs Infiniti',
  'dealer_street': '1500 E State Highway 114',
  'dealer_city': 'Grapevine,',
  'dealer_state': 'TX',
  'dealer_zip': '76092',
  'dealer_phone': '(844) 928-1616',
  'stock_number': 'GW187284'},
 {'vin': '1C4PJLCSXGW362208',
  'dealer_name': 'Audi Dallas',
  'dealer_street': '5033 Lemmon Ave',
  'dealer_city': 'Dallas,',
  'dealer_state': 'TX',
  'dealer_zip': '75209',
  'dealer_phone': '(833) 629-7680',
  'stock_number': 'GW362208'},
 {'vin': '1C4PJLDB5HW662965',
  'dealer_name': 'BMW of Grapevine',
  'dealer_street': '1111 E State Highway 114',
  'dealer_city': 'Grapevine,',
  'dealer_state': 'TX',
  'dealer_zip': '76092',
  'dealer_phone': '(844) 955-1632',
  'stock_number': '5063520C'},
 {'vin': '1C4PJMCB3HD218289',
  'dealer_name': 'Driversselect',
  'dealer_street': '2615 W Interstate 20',
  'dealer_city': 'Grand',
  'dealer_state': 'Prairie,',
  'dealer_zip': 'TX',
  'dealer_phone': '(844) 955-1616',
  'stock_number': 'PHD218289'},
 {'vin': '1C4PJMCB8HW521427',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '85091'},
 {'vin': '1C4PJLCB3HW640769',
  'dealer_name': 'C3 Auto.com',
  'dealer_street': '3101 Premier Dr',
  'dealer_city': 'Plano,',
  'dealer_state': 'TX',
  'dealer_zip': '75075',
  'dealer_phone': '(855) 967-1149',
  'stock_number': 'P5199'},
 {'vin': '1C4PJMDBXGW236810',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '125437'},
 {'vin': '1C4PJMCBXGW330414',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '71598'},
 {'vin': '1C4PJLCBXKD487648',
  'dealer_name': 'Toyota of Richardson',
  'dealer_street': '1221 N Central Expy',
  'dealer_city': 'Richardson,',
  'dealer_state': 'TX',
  'dealer_zip': '75080',
  'dealer_phone': '(844) 435-8242',
  'stock_number': 'KD487648'},
 {'vin': '1C4PJMJN8KD173841',
  'dealer_name': 'P.M. Standley Motorcars',
  'dealer_street': '1835 Forms Dr',
  'dealer_city': 'Carrollton,',
  'dealer_state': 'TX',
  'dealer_zip': '75006',
  'dealer_phone': '(844) 356-4245',
  'stock_number': 'KD173841'},
 {'vin': '1C4PJMDS6GW327959',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '72811'},
 {'vin': '1C4PJLLB9KD222378',
  'dealer_name': 'Ewing Subaru of Plano',
  'dealer_street': '1555 Dallas Pkwy',
  'dealer_city': 'Plano,',
  'dealer_state': 'TX',
  'dealer_zip': '75093',
  'dealer_phone': '(833) 223-7685',
  'stock_number': 'S541414A'},
 {'vin': '1C4PJMDS8HW545404',
  'dealer_name': 'Garland Cadillac',
  'dealer_street': '11675 Lyndon B Johnson Fwy',
  'dealer_city': 'Garland,',
  'dealer_state': 'TX',
  'dealer_zip': '75041',
  'dealer_phone': '(855) 997-1753',
  'stock_number': 'XHW545404'},
 {'vin': '1C4PJLCB0HD231897',
  'dealer_name': 'Nissan Of Lewisville',
  'dealer_street': '1601 S Stemmons Fwy',
  'dealer_city': 'Lewisville,',
  'dealer_state': 'TX',
  'dealer_zip': '75067',
  'dealer_phone': '(833) 959-1331',
  'stock_number': 'HD231897'},
 {'vin': '1C4PJMCBXHW582469',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '88534'},
 {'vin': '1C4PJLDB0HW626701',
  'dealer_name': 'Moritz Kia of Hurst',
  'dealer_street': '110 NE Loop 820',
  'dealer_city': 'Hurst,',
  'dealer_state': 'TX',
  'dealer_zip': '76053',
  'dealer_phone': '(833) 309-0706',
  'stock_number': 'W211552A'},
 {'vin': '1C4PJMLB9KD299693',
  'dealer_name': 'Certified Autoplex Inc.',
  'dealer_street': '3340 Belt Line Rd',
  'dealer_city': 'Dallas,',
  'dealer_state': 'TX',
  'dealer_zip': '75234',
  'dealer_phone': '(844) 220-7163',
  'stock_number': 'KD299693'},
 {'vin': '1C4PJLCX2KD396689',
  'dealer_name': 'Autos of Dallas',
  'dealer_street': '4472 W Plano Pkwy',
  'dealer_city': 'Plano,',
  'dealer_state': 'TX',
  'dealer_zip': '75093',
  'dealer_phone': '(972) 284-0341',
  'stock_number': 'S396689'},
 {'vin': '1C4PJLDS0HW664123',
  'dealer_name': 'Driversselect',
  'dealer_street': '2615 W Interstate 20',
  'dealer_city': 'Grand',
  'dealer_state': 'Prairie,',
  'dealer_zip': 'TX',
  'dealer_phone': '(844) 955-1616',
  'stock_number': 'PHW664123'},
 {'vin': '1C4PJMCS2GW332965',
  'dealer_name': 'Huffines Chrysler Jeep Dodge Ram - Lewisville',
  'dealer_street': '1024 S Stemmons Fwy # I-35e',
  'dealer_city': 'Lewisville,',
  'dealer_state': 'TX',
  'dealer_zip': '75067',
  'dealer_phone': '(844) 931-1903',
  'stock_number': 'B4790A'},
 {'vin': '1C4PJMDB4HW537767',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '88420'},
 {'vin': '1C4PJMCS9GW341467',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '79663'},
 {'vin': '1C4PJMCS4GW154380',
  'dealer_name': 'Novak Motors',
  'dealer_street': '210 Airport Fwy',
  'dealer_city': 'Bedford,',
  'dealer_state': 'TX',
  'dealer_zip': '76022',
  'dealer_phone': '(844) 924-0439',
  'stock_number': '65530'},
 {'vin': '1C4PJLCSXGW304454',
  'dealer_name': 'Dallas Lease Returns',
  'dealer_street': '14335 INWOOD RD',
  'dealer_city': 'DALLAS,',
  'dealer_state': 'TX',
  'dealer_zip': '75244',
  'dealer_phone': '(469) 217-6167',
  'stock_number': '304454'},
 {'vin': '1C4PJLDBXJD561566',
  'dealer_name': 'Huggins Honda',
  'dealer_street': '7551 NE Loop 820',
  'dealer_city': 'North',
  'dealer_state': 'Richland',
  'dealer_zip': 'Hills,',
  'dealer_phone': '(833) 932-0947',
  'stock_number': 'U561566'}]

In [16]:
dealer_df = pd.DataFrame(all_dealers)
dealer_df.head()

,vin,dealer_name,dealer_street,dealer_city,dealer_state,dealer_zip,dealer_phone,stock_number
0,1C4PJMDSXGW187284,Grubbs Infiniti,1500 E State Highway 114,"Grapevine,",TX,76092,(844) 928-1616,GW187284
1,1C4PJLCSXGW362208,Audi Dallas,5033 Lemmon Ave,"Dallas,",TX,75209,(833) 629-7680,GW362208
2,1C4PJLDB5HW662965,BMW of Grapevine,1111 E State Highway 114,"Grapevine,",TX,76092,(844) 955-1632,5063520C
3,1C4PJMCB3HD218289,Driversselect,2615 W Interstate 20,Grand,"Prairie,",TX,(844) 955-1616,PHD218289
4,1C4PJMCB8HW521427,Novak Motors,210 Airport Fwy,"Bedford,",TX,76022,(844) 924-0439,85091

In [17]:
temp = soup.find(id='totalResultCount')

In [18]:
str(temp.contents[0]).strip()

'187'

In [19]:
#Car_description table

In [20]:
vin= [k['vin'] for k in data2]
make=[k['make'] for k in data2]
model=[k['model'] for k in data2]
ext_color= [k['ext_color'] for k in data2]
int_color= [k['int_color'] for k in data2]
body_style= [k['body_style'] for k in data2]
year= [k['year'] for k in data2]

In [21]:
list_of_descriptions= list(zip(vin,make,model,ext_color,int_color,body_style,year))

In [22]:
car_descriptions_df=  pd.DataFrame(list_of_descriptions, columns=['vin','make','model','ext_color','int_color','body_style','year'])

car_descriptions_df.head()

                 vin  make     model ext_color int_color body_style  year
0  1C4PJMDSXGW187284  Jeep  Cherokee     Black       Tan        SUV  2016
1  1C4PJLCSXGW362208  Jeep  Cherokee    Silver     Black        SUV  2016
2  1C4PJLDB5HW662965  Jeep  Cherokee     Black     Black        SUV  2017
3  1C4PJMCB3HD218289  Jeep  Cherokee    Silver     Black        SUV  2017
4  1C4PJMCB8HW521427  Jeep  Cherokee      Gray     Black        SUV  2017

In [23]:
####Vehicle Info

In [24]:
mileage= [k['mileage'] for k in data2]
location= [k['location'] for k in data2]

In [25]:
v_info_list = list(zip(vin,mileage,location))

In [26]:
v_info_df= pd.DataFrame(v_info_list, columns=['vin','mileage','location'])

v_info_df.head()

                 vin       mileage           location
0  1C4PJMDSXGW187284  42,081 miles      Grapevine, TX
1  1C4PJLCSXGW362208  36,616 miles         Dallas, TX
2  1C4PJLDB5HW662965  33,813 miles      Grapevine, TX
3  1C4PJMCB3HD218289  25,212 miles  Grand Prairie, TX
4  1C4PJMCB8HW521427  27,613 miles        Bedford, TX

In [27]:
###Drive train info

In [28]:
drive_type= [k['drive_type'] for k in data2]
engine= [k['engine'] for k in data2]
transmission= [k['transmission'] for k in data2]
mpg= [k['mpg'] for k in data2]
fuel= [k['fuel'] for k in data2]

In [29]:
drive_train_list= list(zip(vin,drive_type,engine,transmission,mpg,fuel))

In [30]:
drive_train_df= pd.DataFrame(drive_train_list, columns= ['vin','drive_type','engine', 'transmission', 'mpg', 'fuel'])

drive_train_df.head()

                 vin drive_type       engine transmission mpg      fuel
0  1C4PJMDSXGW187284        4WD  6 Cyl 3.2 L    Automatic  19  Gasoline
1  1C4PJLCSXGW362208        FWD  6 Cyl 3.2 L    Automatic  21  Gasoline
2  1C4PJLDB5HW662965        FWD  4 Cyl 2.4 L    Automatic  21  Gasoline
3  1C4PJMCB3HD218289        4WD  4 Cyl 2.4 L    Automatic  21  Gasoline
4  1C4PJMCB8HW521427        4WD  4 Cyl 2.4 L    Automatic  21  Gasoline

In [31]:
###orice info

In [32]:
price= [x['price'] for x in data2]

In [33]:
price_list= list(zip(vin,price))

In [34]:
price_df= pd.DataFrame(price_list, columns=['vin', 'price'])

price_df.head()

                 vin    price
0  1C4PJMDSXGW187284  $18,250
1  1C4PJLCSXGW362208  $15,493
2  1C4PJLDB5HW662965  $16,988
3  1C4PJMCB3HD218289  $16,869
4  1C4PJMCB8HW521427  $17,498

In [35]:
browser.quit()

NameError: name 'browser' is not defined

# Load into MongoDB

In [36]:
import pymongo

In [37]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.carfaxDB

In [42]:
db.price_df.insert_many(price_df.to_dict('records'))

In [43]:
db.driveTrain_df.insert_many(drive_train_df.to_dict('records'))

In [44]:
db.vehicleInfo_df.insert_many(v_info_df.to_dict('records'))

In [45]:
db.carDescriptions_df.insert_many(car_descriptions_df.to_dict('records'))